{% load static %}
{% load i18n %}
    <!-- Sidebar -->
    <div class="sidebar bg-main">
        <div class="p-3">
            <a href="{% url 'shared:homepage' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto  text-decoration-none">
                <p class="link-custom h4 fw-light">LUMINO</p>
            </a>
            <hr>
            <ul class="nav flex-column">
                <li class="nav-item link-custom">
                    <a href="{% url 'subjects:subject-list' %}" class="nav-link link-custom">
                        <i class="bi bi-house-door me-2"></i> {% translate "Home"%}
                    </a>
                </li>
                {% if request.user.profile.is_student %}
                <li class="nav-item ">
                        <a class="nav-link link-custom " href="{% url 'subjects:enroll-subjects' %}">
                            <i class="bi bi-people me-2"></i> {% translate "Enroll"%}</a>
                
                </li>
                    
                <li>
                    <a class="nav-link link-custom" href="{% url 'subjects:unenroll-subjects' %}">
                        <i class="bi bi-door-closed "></i> {% translate "Unenroll"%}</a>
                </li>
                {% endif %}
                </ul>
                    <div class="sidebar-footer"  >
                        <a class="link-custom dark-link" onclick="Darkmode()">
                        <i  class="bi bi-moon me-2"></i> {% translate "Dark Mode"%}
                        </a>
                    </div>
            
        </div>
        
    </div>

    <div class="main-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-main shadow-sm">
            <div class="container-fluid">
                <h5>
                    <i class="bi bi-lightbulb me-2"></i> {% translate "Hello"%} {{ request.user.username }}!
                </h5>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <div class="lang-switch">
                        <a class="{% if request.LANGUAGE_CODE == 'en' %}active{% endif %}" href="{% url 'setlang' 'en' %}?next={{ request.path }}">EN</a>
                        <a class="{% if request.LANGUAGE_CODE == 'es' %}active{% endif %}" href="{% url 'setlang' 'es' %}?next={{ request.path }}">ES</a>
                      </div>
                      

                    <div class="d-flex align-items-center">
                        {% if user.is_authenticated %}
                            <div class="dropdown">
                                
                                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ request.user.profile.avatar.url }}" alt="Avatar" class="rounded-circle me-1" width="30" height="30">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" href="{% url 'user-detail' user %}">{% translate "Profile"%}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'users:edit-profile' %}">{% translate "Settings"%}</a></li>
                                    <a class="" href="{% url 'setlang' 'en' %}?next={{ request.path }}">EN</a>
                                    <a class="" href="{% url 'setlang' 'es' %}?next={{ request.path }}">ES</a>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">{% translate "Logout" %}</a></li>
                                </ul>
                            </div>
                            
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <script type="module" src="{% static "shared/js/navbar.js" %}"></script>
        <script>
            document.getElementById('language-toggle').addEventListener('change', function() {
                const lang = this.checked ? 'es' : 'en'; // Get the selected language
                window.location.href = `{% url 'setlang' '${lang}' %}?next={{ request.path }}`; // Redirect to the selected language
              });

              
            function Darkmode() {
                var element = document.body;
                console.log("Dark mode toggle clicked");
                element.classList.toggle("dark-mode");
                if (element.classList.contains("dark-mode")) {
                    localStorage.setItem("theme", "dark");
                } else {
                    localStorage.setItem("theme", "light");
                }
            }
            
            function loadTheme() {
                const theme = localStorage.getItem("theme");
                if (theme) {
                    document.body.classList.toggle("dark-mode", theme === "dark");
                }
            }
            
            window.onload = loadTheme;
        </script>