<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade Certificate</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; margin: 50px; }
        h1 { color: #4CAF50; }
        p { font-size: 18px; }
        .signature { margin-top: 50px; font-style: italic; }
    </style>
</head>
<body>
    <h1>Certificate of Completion</h1>
    <p>This is to certify that <strong>{{ student }}</strong></p>
    <p>has successfully completed the course</p>
    {% for subject_code ,grade  in subject_grade  %}
        Your grade for {{ subject_code }} is {{ grade }}.
    {% endfor %}
    <p>Date: {{ today }}</p>
    <div class="signature">LUMINO Team</div>
</body>
</html>