{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <div class="card border-dark">
      <h4 class="card-header">
        {% translate "Login" %}
      </h4>
      <div class="card-body">
        {% crispy form %}
      </div>
      <div class="card-footer">
        {% translate "Don't have an account?" %}
         <a href="{% url 'signup' %}">{% translate "Sign up" %}</a> {% translate "here." %}
      </div>
    </div>
  </div>
</div>

{% endblock  %}