{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card border-dark">
      <h4 class="card-header">
        {% translate "Create New Lesson" %}
      </h4>
      <div class="card-body">
        <form method="post" novalidate>
          {% csrf_token %}
          {% crispy form %}
        </form>
      </div>
      <div class="card-footer text-center">
        <a href="{% url 'subjects:subject-detail' subject.code %}" class="btn btn-outline-secondary">
          {% translate "Cancel" %}
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
