{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="container lesson-detail-template mt-5">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-header bg-custom text-white text-center">
            <h3 class="m-0">{{ lesson.title }}</h3>
        </div>
        
        <div class="card-body">
            <p class="lesson-subject text-muted"><strong>{% translate "Subject:" %}</strong> {{ lesson.subject.name }}</p>
            
            <div class="lesson-content mb-4">
                <p>{{ lesson.content }}</p>
            </div>

            {% if not request.user.profile.is_student %}
                <div class="lesson-actions text-center">
                    <a href="{% url 'subjects:edit-lesson' lesson.subject.code lesson.pk %}" class="btn btn-outline-warning btn-sm mr-2">
                        <i class="bi bi-pencil"></i>{% translate "Edit Lesson" %}
                    </a>
                    <a href="{% url 'subjects:delete-lesson' lesson.subject.code lesson.pk %}" class="btn btn-outline-danger btn-sm">
                        <i class="bi bi-trash"></i>{% translate "Delete Lesson" %}
                    </a>
                </div>
            {% endif %}

            <div class="text-center mt-4">
                <a href="{% url 'subjects:subject-detail' lesson.subject.code %}" class="btn btn-outline-secondary btn-sm">
                    <i class="bi bi-arrow-left"></i>{% translate "Back to Lessons" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
