{% extends "base.html" %}

{% block content %}

  {% for lesson in lessons %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"> {{ lesson.title }}</h5>
      <p class="card-text">{{ lesson.content | truncatewords:20 }}</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
      <a href="{% url "subjects:lesson-detail" lesson.subject.code lesson.pk %}" class="card-link">See Details</a>
    </div>
  </div>
 
  </div>
  {% endfor %}  
{% endblock content %}