{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container subject-template">
    <h3> {% translate "My subjects" %}</h3>
    <div class="row">
        {% comment %} certificate {% endcomment %}
        {% if marks and request.user.profile.is_student %}
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'subjects:request-certificate' %}" class="btn btn-outline-secondary request-btn">Request Certificate</a>
            </div>
          </div>
        {% endif %}
        {% for subject in subjects %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-grow-1">
                                <h5 class="card-title">{{ subject.name }}</h5>
                                <h6 class="card-subtitle">{{ subject.code }}</h6>
                                <h6 class="card-teacher mt-2">
                                    Teacher: 
                                    <a href="{% url 'user-detail' subject.teacher %}" class="text-decoration-none">
                                        {{ subject.teacher }}
                                    </a>
                                </h6>
                                
                            </div>
                            <img src="{{ subject.teacher.profile.avatar.url }}" 
                                alt="{{ subject.teacher }}" 
                                class="rounded-circle ms-3">
                        </div>

                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="card-text">
                                <i class="bi bi-journal-bookmark-fill"></i> 
                                <span>{{ subject.lesson_count }} Lessons</span>
                            </p>
                            <p class="card-text">
                                <i class="bi bi-people-fill"></i> 
                                <span>{{ subject.student_count }} Students</span>
                            </p>
                        </div>

                        <div class="mt-auto">
                            <a href="{% url 'subjects:subject-detail' subject.code %}" 
                               class="btn btn-outline-primary">
                                <i class="bi bi-box-arrow-right me-2"></i> Read More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-muted">You are not enrolled in any subjects.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
